@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Fira Code', monospace;
  margin: 0;
  padding: 0;
  background: var(--background);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --colorBlue: #0076f5;
  --colorBlack: #1b1a18;
  --background: #f5faff;
}
